# =========================
# 🔐 Variables de entorno
# =========================
.env

# =========================
# 🐍 Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 🧪 Entorno virtual
# =========================
venv/
.env/
env/

# =========================
# 📦 Archivos de sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# 📊 Reportes generados
# =========================
reports/

# =========================
# 🧰 IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# 🧾 Logs
# =========================
*.log